# Cache and venv files
__pycache__/
venv/

# CONFIDENTIAL - Environment variables files
/api
.env
api.env

# Produced files
*.docx
*.odt
*.mp3
*.wav
*.raw
*.log
interview_report_*.html

# Interview config file
interview_config.json

# Keep the template
!interview_report_template.html

