# Cache and venv files
__pycache__/
venv/
*/venv
# CONFIDENTIAL - Environment variables files
.env
api.env
*/api

# Produced files
*.docx
*.odt
*.mp3
*.wav
*.raw
*.log
interview_report_*.html

# Interview config file
interview_config.json

# Keep the template
!interview_report_template.html

