# Cache and venv files
__pycache__/
venv/

# CONFIDENTIAL - Environment variables files
/api
.env
api.env

# Produced media files
*.docx
*.mp3
*.wav
*.raw

# Ignore all reports
interview_report_*.html

# Keep the template
!interview_report_template.html

