markdown~=3.9
protobuf~=6.32.1
pydub~=0.25.1
python-dotenv~=1.1.1
pyyaml~=6.0.2
requests~=2.32.5
streamlit~=1.49.1
streamlit-audiorecorder~=0.0.6
PyYAML~=6.0.2
fastapi
uvicorn
google-cloud-speech
google-cloud-texttospeech